.intro__section {
  padding-top: var(--r100);
}

.title__wrap {
  margin-left: var(--r30);
}

.intro__content {
  padding: var(--r30) 0;
}

.intro__desc {
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
  line-height: 2.5;
}

/* BLOGS COLLECTION */
.blog-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--r48) var(--r48) var(--r100);
}

/* BLOG CARD */
.blog-card__container {
  margin: var(--r30) var(--r64);
  padding-bottom: var(--r48);
}

.blog-image__wrap img {
  width: 100%;
  height: 100%;
  /* max-width: 90%; */
}

.topic_wrap {
  padding-top: var(--r48);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  max-height: max-content;
  height: 100%;
  position: relative;
}

.topic-author_wrap {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.author-img img {
  width: 100%;
  height: 100%;
  max-width: 80px;
}

.author-info_wrap {
  font-size: 14px;
  width: 100%;
}

.author-name {
  margin-bottom: 6px;
}

.topic-info_wrap {
  border-left: 3px #fff solid;
  padding-left: var(--r48);
  width: 100%;
  max-width: 80%;
  text-decoration: none;
}

.topic_title {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding-bottom: 0.5rem;
}

.topic_desc {
  font-size: 1rem;
  color: #7a7a7a;
}

.menu-icon {
  width: 100%;
  height: 100%;
  max-width: 5px;
  position: absolute;
  top: -15%;
  right: 0;
}

/* MEDIA QUERY */
@media screen and (min-width: 2560px) {
  .intro__desc {
    font-size: 34px;
  }

  .topic_title {
    font-size: 70px;
  }

  .topic_desc {
    font-size: 34px;
    max-width: 90%;
  }

  .menu-icon {
    max-width: 15px;
    top: 20%;
  }

  .topic-author_wrap {
    column-gap: 1.5rem;
  }

  .author-img img {
    width: 200px;
    max-width: 110px;
  }

  .author-info_wrap {
    font-size: 34px;
  }
}

@media screen and (max-width: 860px) {
  .title__wrap {
    margin-left: 0;
  }


  .intro__desc {
    font-size: 16px;
  }

  .intro__content {
    padding: 0;
  }

  .blog-collections {
    padding: var(--r48);
  }

  .blog-card__container {
    margin: 0;
    padding-bottom: var(--r100);
  }

  .topic_wrap {
    margin-top: var(--r48);
    padding-top: unset;
    flex-direction: column-reverse;
    align-items: flex-start;
    border-left: 2px #fff solid;
  }

  .topic-info_wrap {
    border-left: none;
    padding-left: var(--r48);
    max-width: 100%;
  }

  .topic_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px
  }

  .topic_desc {
    font-size: 14px;
  }

  .author-img img {
    max-width: 50px;
  }

  .topic-author_wrap {
    padding-left: var(--r48);
    margin-top: -15px;
  }

  .author-name {
    margin-bottom: 2px;
  }

  .author-info_wrap {
    font-size: 12px;
  }

  .menu-icon {
    width: 100%;
    height: 100%;
    max-width: 5px;
    position: absolute;
    top: 45%;
    /* bottom: 0; */
    right: 0;
  }
}