#dedicated-portfolio-content {
    margin-top: var(--r56);
}

/*------------------------------------------------------------------------------------*/
/*------------------------------------ HERO VIDEO ------------------------------------*/
/*------------------------------------------------------------------------------------*/
#hero-video-wrapper {
    margin-top: var(--r40);
    width: 100%;
    height: fit-content;
}

#hero-video {
    width: 100%;
    clip-path: inset(0% round 3vmin);
}

/*------------------------------------------------------------------------------------*/
/*------------------------------------ ARTWORKS --------------------------------------*/
/*------------------------------------------------------------------------------------*/
#artworks {
    margin-top: var(--r40);
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.previews {
    scroll-margin: 15px;
    width: 18%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    clip-path: inset(0% round 3vmin);
    transform: translate3d(0, 0, 1px);
    -webkit-transform: translate3d(0, 0, 1px);
    -moz-transform: translate3d(0, 0, 1px);
    -ms-transform: translate3d(0, 0, 1px);
    -o-transform: translate3d(0, 0, 1px);
}

#showcase {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

#showcase > img {
    margin-top: var(--r40);
    width: 50%;
    height: auto;
    object-fit: cover;
    max-height: 0px;
    transition: max-height 1s ease;
    -webkit-transition: max-height 1s ease;
    -moz-transition: max-height 1s ease;
    -ms-transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
}
