.contact-tagline {
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
}

#footer {
  margin-bottom: var(--r30);
}

.footer-links__grid {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1fr 1fr 1fr;
}

.footer-bottom-wrap {
  padding-top: var(--r80);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}

.footer-bottom-wrap .divider {
  height: 20px;
  margin-top: 2rem;
}

.footer__gradient-box__input,
.footer__gradient-box__input-rev {
  position: relative;
  box-sizing: border-box;
  color: #fff;
  background: var(--bg-color);
  background-clip: padding-box;
  /* !importanté */
  border: solid 1px transparent;
  /* !importanté */
  height: 4rem;
}

.footer__gradient-box__input-rev a {
  text-decoration: none;
  color: #fff;
}

.footer__gradient-box__input-rev hr {
  height: 0.5px;
  width: 18px;
  background-color: #fff;
  border-top: none;
  opacity: 1;
  transform: rotate(90deg);
}

.footer__gradient-box__input:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: linear-gradient(90deg,
      #fcdc00 0%,
      #fbc519 10%,
      #fa954e 32%,
      #f96e79 53%,
      #f95397 72%,
      #f83cb0 100%);
}

.footer__gradient-box__input-rev:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;

  background: linear-gradient(-90deg,
      #fcdc00 0%,
      #fbc519 10%,
      #fa954e 32%,
      #f96e79 53%,
      #f95397 72%,
      #f83cb0 100%);
}

.footer__gradient-box__input>input,
.footer__gradient-box__input-rev>input {
  outline: none !important;
  background: transparent !important;
  border: none !important;
  height: 3.5rem;
  color: #fff !important;
}

.footer__gradient-box__input>input:focus,
.footer__gradient-box__input-rev>input {
  outline: none !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none;
}

.disabled-input {
  /* width: 40%; */
}

.footer__input-wrapper {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#footer h6 {
  font-family: "Cera Pro Black", sans-serif;
  font-size: 1.2rem;
}

@media screen and (min-width: 2560px) {
  footer {
    margin-top: var(--r80);
  }

  .footer-logo {
    height: 360px;
  }

  #footer h6 {
    font-size: 40px;
  }

  #footer p {
    font-size: 34px;
  }

  .gradient-text-small,
  .gradient-text-small-rev {
    font-size: 40px;
  }

  .footer__gradient-box__input>input,
  .footer__gradient-box__input-rev>input,
  .footer__gradient-box__input,
  .footer__gradient-box__input-rev {
    height: 4.5rem;
  }

  .footer__gradient-box__input>input,
  .footer__gradient-box__input-rev>input,
  .footer__gradient-box__input,
  .footer__gradient-box__input-rev {
    font-size: 30px;
  }

  .footer__gradient-box__input button {
    font-size: 30px;
  }
}

@media screen and (max-width: 990px) {
  #footer {
    padding: 0px;
  }

  .container-fluid {
    padding: 0px;
  }

  .footer-links__grid {
    grid-template-columns: 0.9fr 1fr;
    gap: 1.5rem 0rem;
  }

  .footer-links__grid div:first-of-type {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
  }

  .footer-links__grid div {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }

  .footer-bottom-wrap {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-bottom-wrap .divider {
    height: 15px;
    margin-top: 0rem;
  }

  .footer__input-wrapper h4 {
    text-align: start !important;
  }

  .footer__gradient-box__input-rev {
    /* width: 10%; */
    display: flex;
    flex-direction: column;
    height: 5rem;
  }

  .footer__gradient-box__input-rev input {
    width: 100% !important;
  }

  .footer__gradient-box__input-rev input:nth-child(1) {
    /* width: 10%; */
    margin-right: 0rem;
  }

  .footer__gradient-box__input-rev hr {
    transform: rotate(0deg);
    width: 80%;
    margin: 0;
  }
}